.designHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--color-tertiary);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.left {
  display: flex;
  align-items: center;
}

.headTitle {
  color: whitesmoke;
  margin-left: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}

.right {
  display: flex;
  align-items: center;
}

.right .MuiIconButton-root {
  margin-right: 8px;
}

@media (max-width: 768px) {
  /* Responsive adjustments for medium screens */
  .headTitle {
    font-size: 1rem;
  }
  .right .MuiIconButton-root {
    margin-right: 6px;
  }
}

@media (max-width: 480px) {
  /* Responsive adjustments for small screens */
  .designHead {
    padding: 8px 10px;
  }
  .headTitle {
    font-size: 0.9rem;
  }
  .right .MuiIconButton-root {
    margin-right: 4px;
  }
}
.seeAll {
  color: var(--brightFont) !important;
  text-align: right;
  margin-left: auto;
  margin-right: 12px;
  display: block;
  font-size: 1em;

  font-weight: bold !important;
  text-decoration-color: var(--brightFont) !important;

  transition: 0.3s ease;
}

.seeAll:hover {
  opacity: 0.7;
}

.workspace {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.space {
  display: flex;
  flex-direction: row;
}

.headTitleInput {
  background-color: transparent;
  border: transparent;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Inter", sans-serif !important;
  color: var(--color-white);
}

.promptBar {
  min-height: 100vh;
  width: 500px;
  background-color: var(--nav-card-modal);
  padding: 40px;
  padding-bottom: 20%;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* .bump {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "";
  position: absolute;
  padding-left: 12px;
  top: 50%;
  right: -32px; 
  width: 20px; z
  height: 80px; 
  background-color: var(--nav-card-modal); 
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  transform: translateY(-50%); 
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2); 
} */

.create-design {
  display: flex;
  height: 100%;
  width: 100%;
}
.whole {
  min-height: 100%;
}

h3 {
  font-size: 0.875em;
  color: var(--color-white);
}
h6 {
  color: #5e5e5e;
}

.image-frame {
  width: 80%;

  max-width: 1200px;
  max-height: 300px !important;
  padding-bottom: 56.25%;
  position: relative;
  border: var(--nav-card-modal) 3px solid;
  border-radius: 12px;
  margin: 2%;
}

.image-preview {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
}
.image-grid-design {
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(1, 5fr);

  width: 100%;
  height: max-content;
}
.arrow-button {
  background-color: var(--nav-card-modal);
  padding: 12px;
  width: 16px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.arrow-button:hover {
  background: var(--gradientButton);
}
.fixed-arrow-button {
  display: flex;
  height: 700px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.image-drop {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 150%;
  margin-bottom: 10%;
}

.working-area {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
}
.stickyMenu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--nav-card-modal);
  padding: 10px;
}

.working-area {
  position: relative;
  display: flex;
}

.toggle-comment-button {
  margin-top: 20px;
  background-color: #faa653;
  color: var(--color-white);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.comment-section {
  display: flex;
  width: 30%;
  background-color: var(--nav-card-modal);
  padding: 10px;
  border-radius: 8px;
  align-items: center;
  flex-direction: column;
  padding: 24px;
}

textarea {
  font-family: "Inter", sans-serif !important;
  width: 90%;
}
.comment-section h4 {
  color: var(--color-white);
}

.comment-section textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  padding: 10px;
  background-color: #444;
  color: var(--color-white);
  border: none;
  border-radius: 4px;
}

.add-comment-button {
  margin-top: 10px;
  background-image: var(--gradientButton);
  border-radius: 20px;
  font-weight: bold;
  color: var(--color-white);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}
.add-comment-button:hover {
  background-image: var(--gradientButtonHover);
}

.frame-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.frame-buttons button {
  background-color: var(--nav-card-modal);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.frame-buttons button:hover {
  background-color: var(--inputBg);
  transform: scale(1.05);
}

.frame-buttons button:active {
  background-image: var(--gradientButton);
  transform: scale(0.98);
}

.frame-buttons button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--brightFont);
}
/* For darkened background */
.homepage.darkened {
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.circle-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  z-index: 2;
}

/* Main circular button (Add/Close) */
.circle-button {
  background-image: var(--gradientCircle);
  color: var(--color-white);
  width: 70px !important;
  height: 70px !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.circle-button.rotate {
  transform: rotate(45deg);
}

/* Container for the smaller buttons */
.small-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

/* Small circular buttons for creating project/design */
.small-circle-button {
  background-image: var(--gradientCircle);
  color: var(--color-white);
  width: 70px !important;
  height: 70px !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

/* Flex container to hold both text and button */
.small-button-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Icons inside small circular buttons */
.icon {
  font-size: 1.875em;
}

/* Text to the left of the circular buttons */
.small-button-text {
  color: var(--color-white);
  font-size: 0.875em;
  font-weight: bold;
}

/* Hover effect for small and main buttons */
.small-circle-button:hover,
.circle-button:hover {
  background-image: var(--gradientCircleHover);
}

.itemHead {
  background-color: var(--nav-card-modal);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.searchHead {
  margin-left: 18px;
  font-weight: bold;
  font-size: 1.5em;

  color: var(--color-white);
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 33.33%;
  height: 100%;
  background-color: var(--inputBg);
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  overflow-y: auto;
}

.sidebar.open {
  left: 0;
}

@media (max-width: 680px) {
  .sidebar {
    width: 50%; /* Half of the screen for mobile */
  }
}

/* Sidebar content */
.sidebar-content {
  padding: 20px;
  color: var(--brightFont);
  height: 100%;
  overflow-y: auto;
}

/* Close button */
.close-sidebar {
  background-color: transparent;
  border: none;
  color: var(--brightFont);
  cursor: pointer;
  font-size: 1.125em;
  padding: 10px;
}

/* Overlay (background blackout) */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* Hide scroll bar in WebKit browsers (Chrome, Safari, Edge) */
.sidebar-content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sidebar-content::-webkit-scrollbar {
  display: none;
}

/* comment section */
.split-button {
  display: inline-flex;
  border-radius: 25px;
  overflow: hidden;
  border: 2px solid var(--brightFont);
  margin: 10px 0;
}

.button-side {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #27262c;
  color: white;
  transition: background-color 0.3s ease;
  flex: 1;
}

.button-side.active {
  background-color: var(--brightFont);
  color: white;
}

.button-side:not(.active) {
  border-right: 2px solid var(--brightFont);
}

.button-side:first-child {
  border-right: 1px solid var(--brightFont);
}

.button-side:hover {
  opacity: 0.9;
}

/* sample reply */
.comment-container {
  background-color: var(--inputBg);
  border-radius: 15px;
  width: 90%;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 16px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.comment-container.clicked {
  background-color: var(--inputBg);
}

.profile-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.profile-info {
  display: flex;
  align-items: center;
}
.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  background-image: var(--gradientCircle);
  margin-right: 10px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.username {
  color: var(--color-white);
  font-weight: bold;
  margin-bottom: 2px;
}

.date {
  color: var(--color-white);
  font-size: 0.075em;
}

.check-mark {
  color: var(--brightFont);
  font-size: 1em;
}

.options-dots {
  color: var(--color-white);
  font-size: 1.25em;
}

.comment-text {
  color: var(--color-white);
  margin-bottom: 10px;
}

.reply-input {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid #49484f;
  border-radius: 15px;
  padding: 10px;
  color: var(--color-white);
  margin-top: 10px;
}

.reply-input:focus-within {
  border: 1px solid var(--brightFont); /* Add your desired border color */
}

.reply-input input {
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--color-white);
  margin-left: 10px;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  background-color: var(--nav-card-modal);
  color: var(--color-grey);
  padding-top: 0px !important;
}

.reply-input .at-symbol {
  color: #49484f;
}

.circle-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid var(--color-grey);
  background-color: transparent;
  flex-shrink: 0;
  aspect-ratio: 1 / 1;
}

.circle:hover {
  border: 2px solid var(--brightFont);
}

.plus-circle {
  display: flex;
  font-size: 2.25em;
  align-items: center;
  justify-content: center;

  color: var(--color-grey);
}

.plus-circle:hover {
  cursor: pointer;
  color: var(--color-white);
  background-image: var(--gradientCircle);
}

.css-4445e4 {
}

@media (max-width: 600px) {
  .workspace {
    flex-direction: column-reverse;
  }
  .promptBar {
    width: auto;
  }
  .fixed-arrow-button {
    display: none;
  }
  .promptBar {
    padding-bottom: 20%;
    margin-bottom: 0;
    min-height: 0;
  }

  .comment-section {
    position: fixed; /* Make the div fixed */
    top: 53%; /* Center vertically */
    right: 10px; /* Align to the right with space for the scrollbar */
    transform: translateY(-50%); /* Adjust for vertical centering */
    width: calc(80% - 32px); /* Adjust width to account for the right margin and scrollbar */
    background-color: var(--nav-card-modal);
    padding: 24px; /* Ensure padding is consistent */
    border-radius: 8px;
    height: 85vh; /* Set a fixed height */
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visibility */
    z-index: 1; /* Ensure it is above other elements */
  }
}
