.details-container {
  background-color: var(--bgcolor);
  margin-top: 20px;
  color: var(--color-white);
  overflow-x: hidden !important;
  overflow-y: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-image {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
}

.room-info {
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
}

.room-info h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.room-info p {
  margin: 5px 0;
}

.access-portion {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
  border-top: var(--color-grey) 1px solid;
  width: 100%;
  height: 80px !important;
}

.access-portion h3 {
  margin-left: 20px;
  font-size: 18px;
}
