.mapPin {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--nav-card-modal);
  width: 90%;
  height: 40px;
  margin-top: 24px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  padding: 24px;
}

.pinName {
  font-size: 1.25em;
  font-weight: bold;
  margin-left: 12px;
}

.pinColor {
  background-color: var(--brightFont);
  height: 40px;
  margin-top: 24px;
  height: 52px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  padding: 18px;
}
.pinHolder {
  display: flex;
  width: 100%;
}

.image-pin {
  width: 60px;
  border-radius: 6px;
}
