/* General styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif !important;
  color: var(--color-white);
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.menu-button,
.share-button {
  background: none;
  border: none;
  color: var(--color-white);
  font-size: 1.5em;
  cursor: pointer;
}

.header-left h1 {
  margin: 0;
  padding-left: 10px;
}

.search-filter-bar {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c2c2e;
  border-bottom: 1px solid #3a3a3c;
}

.search-input {
  flex-grow: 1;
  padding: 10px;
  background-color: #3a3a3c;
  border: none;
  color: var(--color-white);
  margin-right: 20px;
}

.filter-options button {
  background-color: #3a3a3c;
  color: var(--color-white);
  border: none;
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.content {
  flex-grow: 1;

  width: 100%;
  overflow-y: auto;
}

.designs-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 36px;
}

.design-card {
  background-color: #2c2c2e;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.design-image {
  width: 100%;
  display: block;
}

.design-info {
  padding: 10px;
}

.sectionBudget {
  height: fit-content;
  background-color: var(--nav-card-modal);
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 30px;
  margin-bottom: 12px;
  border-radius: 24px;
}

.budgetHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  justify-content: start;
  width: 100%;
  height: max-content;
}

.image-frame-project {
  width: 240px;
  height: 240px;
  max-width: 1200px;
  max-height: 300px !important;
  padding-bottom: 0px !important; /* 16:9 aspect ratio */
  position: relative;
  border: var(--nav-card-modal) 3px solid;
  border-radius: 24px;
  margin: 2%;
}
.image-preview {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  border-radius: 12px;
}

.SubtitlePrice {
  font-size: 0.75em;
  font-weight: bold;
  color: var(--color-white);
  padding: 6px;
  width: fit-content;
  border-radius: 24px;
  background-color: var(--budget-capsule);
}

.itemList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  justify-content: start;
  width: 100%;
  height: 100%;
}

.item {
  width: 90%;
  height: 100%;
  border-top: var(--inputBg) 2px solid;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 12px;
  margin-top: 24px;
  display: flex;
}

@media (max-width: 768px) {
  .sectionBudget {
    flex-direction: column;
    align-items: center;
  }
}
