body {
  background-color: rgb(27, 27, 27) !important;
  font-family: "Inter", sans-serif !important;
}
.headTitle {
  font-size: 18px;
  font-weight: bold;
  margin-top: 16px;
  color: azure;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: transparent !important;
  color: #ffffff !important;
  box-shadow: 0 0 0px 1000px transparent !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s;
}

body {
  overflow: auto !important;
}
